<c-header class="mb-4 d-print-none" position="sticky">
  <c-container [fluid]="true">

    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>

    <c-header-nav class="d-none d-lg-flex me-auto">
    </c-header-nav>

    <c-header-nav class="ms-auto me-2">
    </c-header-nav>

    <c-header-nav>
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>

  </c-container>
</c-header>

<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0" aria-label="Open user menu">
      <c-avatar
        shape="rounded-1"
        size="md"
        src="./assets/images/ntc-logo.png"
        status="success"
        textColor="primary"
        alt="User avatar"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-body-secondary text-body-secondary fw-semibold py-2 rounded-top">
          Account
        </h6>
      </li>
      <li>
        <a cDropdownItem routerLink="/profile">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="/daily-time-record">
          <svg cIcon class="me-2" name="cilCalendar"></svg>
          Daily Time Record
        </a>
      </li>
      <li *ngIf="userRole === 'DIVISION HEAD'">
        <a cDropdownItem routerLink="/kpi-inspection">
          <svg cIcon class="me-2" name="cilChartLine"></svg>
          KPI Inspection
        </a>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      
      <li>
        <a cDropdownItem routerLink="/settings">
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a cDropdownItem routerLink="/login" (click)="logout()">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>